<section class="about">
  <h2>About the Cause</h2>
  <p>
    Littering pollutes our environment and harms wildlife.
    Let’s teach our kids and communities how to keep our public spaces clean.
  </p>

  <div class="icons">
    <div>
      <img src="assets/images/factory-pollution-icon.svg" alt="Pollution">
      <p>Pollution</p>
    </div>
    <div>
      <img src="assets/images/recycle-icon.svg" alt="Garbage">
      <p>Garbage</p>
    </div>
    <div>
      <img src="assets/images/recycling-icon.svg" alt="Recycling">
      <p>Recycling</p>
    </div>
  </div>
</section>